.list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-light);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-accent);
}

.icon {
  width: 24px;
  height: 24px;
}

.small .icon {
  width: 20px;
  height: 20px;
}

.small {
  gap: 12px;
}
