.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f7;
}

.main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 32px;
}

@media (max-width: 768px) {
  .main {
    margin-left: 60px;
  }

  .content {
    padding: 16px;
  }
}
